* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: salmon;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid black;
  height: 100vh;
  width: 100vw;
}

.search {
  border: 1px solid black;
  align-content: center;
  padding: 15px;
  margin: 20px 0 20px 0;
}
.information-section {
  border: 1px solid black;
  align-content: center;
  text-align: center;
  padding: 15px;
  margin: 20px 0 20px 0;
  width: 420px;
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
}
.image-section {
  border: 1px solid black;
  width: 600px;
  height: 400px;
}
